/* activate bluetooth */
//#define CONFIG_WIRELESS 1

/* source keypos definitions */
#include "../zmk-nodefree-config/keypos_def/keypos_48keys_wide.h"

/* map Contra's extra keys */
#define X_MT  &kp ESC   &kp DEL                  // top row, middle
#define X_MM  &none     &none                  // middle row, middle
#define X_MB  &none     &none                  // bottom row, middle
#define X_LH  &kp LGUI  &none    &smart_mouse  // thumb row, left
#define X_MH  &kp ENTER &none                  // thumb row, middle
#define X_RH  &none     U_WH_D   U_WH_U        // thumb row, right

/* source the main keymap */
#include "base.keymap"


